.card {
    margin: 20px;
}

.mynav {
    background: #fff; 
}

.navbar-brand {
    margin-left: 100px;
    margin-top: -5px;
}

.mynav a {
    margin-right: 15px; 
    border-bottom: 2px solid transparent;
}

.mynav a:hover {
    border-bottom: 2px solid #fff;
}

.active a {
    border-bottom: 2px solid #fff;
}