.card {
    margin: 20px;
}

.mynav {
    background: #fff; 
}

.navbar-brand {
    
    margin-top: -5px;
}

.navbar-collapse {
    margin-right: 70px;
}

.mynav a {
    margin-right: 30px; 
    border-bottom: 2px solid transparent;
}

.mynav a:hover {
    border-bottom: 2px solid #fff;
}

.mynav a:focus {
    border-bottom: 2px solid #fff;
    color: #fff;
} 

.dropdown:hover .dropdown-menu {
    display: block;
    color: #000;
    margin: 0; 
 }

 .dropdown-menu a:hover {
    background: transparent;
 }

